#myform{
    border: 3px solid black;
    display: grid;
    background-color: rgba(33, 176, 148, 0.354);
    height: 330px;
    width: 400px;
    align-items: center;
    padding: 20px;
}
button{
    background-color:rgba(33, 176, 148, 0.354);
    height: auto;
    width: 100px;
    margin: 10px;
    align-items: center;
}
img{
    width: 140px;
    height: 100px;
}
